# No manual modifications are required
[Desktop Entry]
Type=Application
Name=Hoshi Auth
Exec=[REPLACE_WITH_EXEC_COMMAND]
MimeType=x-scheme-handler/hoshi;
Terminal=false